<h1>Admin::Dashboard#show</h1>
<p>Find me in app/views/admin/dashboard/show.html.erb</p>
<div class="list-group">
  <a href="http://localhost:3000/admin/products" class="list-group-item list-group-item-action">Product Count: <%=@product_count%></a>
  <a href="http://localhost:3000/admin/products" class="list-group-item list-group-item-action">Pategory Count: <%=@category_count%></a>
</div>

