<h1>ADMIN DASHBOARD</h1>
<div class="list-group">
  <%= link_to("Product Count: #{@product_count}", admin_products_path, class:"list-group-item list-group-item-action")%>
  <%= link_to("Category Count #{@category_count}", admin_categories_path, class:"list-group-item list-group-item-action")%>
</div>

